/* Colors */
/* responsive */
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select, textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

td:not([align]), th:not([align]) {
  text-align: left;
}

body, input {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  background-color: #f3e9f1;
}

a {
  text-decoration: none;
  color: inherit;
}

.title {
  font-weight: 300;
  font-size: 1.7em;
}

h1 {
  font-size: 1.25em;
  font-weight: bold;
  line-height: 1.25;
  margin: 2rem auto;
}

h2 {
  font-size: 1.4em;
  font-weight: 600;
}

.container {
  padding: 0 20px;
}

@media only screen and (min-width: 768px) {
  .container {
    padding: 0 50px;
  }

  h1 {
    font-size: 1.25em;
  }
}
.button {
  background-color: #8f5bfe;
  border: none;
  padding: 1em;
  color: white;
  margin: 1em;
  border-radius: 5px;
}

.confirm-box {
  border: 2px solid grey;
  text-align: center;
  padding: 10px;
  width: fit-content;
  background-color: white;
  margin: auto;
}

#modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.basket_hasProduct::after {
  content: "";
  position: absolute;
  top: 0.2rem;
  right: -0.1rem;
  height: 0.8rem;
  width: 0.8rem;
  background: #fb6d72;
  border-radius: 50%;
}

.headerContainer {
  text-align: center;
  box-shadow: 0 5px 9px #e5e5e5;
  position: fixed;
  width: 100%;
  background-color: #f3e9f1;
  top: 0;
}

.logoSite {
  width: 120px;
  margin: 0 auto;
  margin-top: 6px;
}

.basketLink {
  position: absolute;
  font-size: 25px;
  top: 20px;
  right: 20px;
  color: #7e7e7e;
}
.basketLink:hover {
  color: #8f5bfe;
}
.basketLink-fill::before {
  content: "1";
  color: #FFF;
  position: absolute;
  font-size: 10px;
  bottom: 3px;
  text-align: center;
  right: 8px;
}

.returnLink {
  position: absolute;
  font-size: 18px;
  left: 20px;
  top: 25px;
  color: #7e7e7e;
}
.returnLink:hover {
  color: #8f5bfe;
}

@media only screen and (min-width: 768px) {
  .basketLink {
    right: 50px;
  }

  .returnLink {
    left: 50px;
  }
}
.footerContainer {
  background-color: #353535;
  color: #fff;
  padding-top: 26px;
  padding-bottom: 32px;
}
.footerContainer svg path {
  fill: #fff;
}
.footerContainer li {
  line-height: 1.6em;
}
.footerContainer li:nth-child(-n+2) {
  font-weight: 500;
}
.footerContainer__logo {
  font-size: larger;
  margin-bottom: 15px;
}
.footerContainer__list--icon {
  margin-right: 11.5px;
  color: #fff;
}

.mainContainer {
  text-align: center;
  margin-top: 100px;
  min-height: 450px;
}

.products {
  margin: 2rem 0;
}

.product_card {
  width: 100%;
  border: solid 2px #CCC;
  margin: 10px 0;
}
.product_card--details {
  margin-bottom: 1rem;
  border: solid 2px #CCC;
}
.product_body {
  padding: 0 1em;
}
.product_name {
  margin: 1rem;
}
.product_price {
  margin: 1rem;
  color: #8f5bfe;
  font-weight: bold;
  font-size: 1.4em;
}
.product_button {
  background-color: #e68a09;
  color: #fff;
  padding: 0.5rem;
  border: none;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.4);
  margin-bottom: 1rem;
}

@media only screen and (min-width: 426px) {
  .products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .product {
    width: 50%;
  }
}
@media only screen and (min-width: 768px) {
  .product {
    width: 33%;
  }
  .product_card--details {
    display: flex;
    flex-direction: row;
  }
  .product_card--details > img {
    max-width: 100px;
    height: 40%;
  }
  .product_card--details > .product_body {
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-align: left;
  }
}
.products_basket {
  text-align: left;
  padding-bottom: 3rem;
}

.basket_trash > i {
  font-size: 18px;
  color: #7e7e7e;
  margin: 1rem;
}
.basket_trash > i:hover {
  color: #8f5bfe;
  cursor: pointer;
}
.basket_price {
  font-size: large;
  text-align: right;
}
.basket_form {
  text-align: left;
}

/*# sourceMappingURL=style.css.map */
