.button {
    background-color: $primary;
    border: none;
    padding: 1em;
    color: white;
    margin: 1em;
    border-radius: 5px;
}

.confirm-box {
    border: 2px solid grey;
    text-align: center;
    padding: 10px;
    width: fit-content;
    background-color: white;
    margin: auto;
}

#modal {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.basket_hasProduct::after {
    content: "";
    position: absolute;
    top: .2rem;
    right: -0.1rem;
    height: .8rem;
    width: .8rem;
    background: #fb6d72;
    border-radius: 50%;
}