.products {
    &_basket {
    text-align: left;
    padding-bottom: 3rem;
    }
    &_list {
        margin: 2rem;
    }
    &_list--item {
        margin: 1em 0;
        &>*{
            margin: 0;
        }
        &>.product_name {
            font-size: 1.1em;
            font-weight: 600;
        }
        &>.trash>i {
            font-size: 18px;
            color: #7e7e7e;
            &:hover {
                color: $primary;
                cursor: pointer;
            }
        }
    }
}

.product_quantity {
    padding: .3em;
}

.basket {
    &_price {
        color: #8f5bfe;
        font-weight: bold;
        font-size: 1.4em;
        margin: 0 2rem;
        &>p:first-child {
            color: initial;
            text-align: right;
            font-size: .85em;
            line-height: 1.9;
        }
    }
    &_form {
        text-align: left;
        padding-top: 2rem;
    }
}

.form_title {
    font-size: 1.5em;
    margin-bottom: 1.5rem;
}

.order-link {
    display: inline-block;
    margin: 1rem;
    &>button {
        margin: 0;
    }
}

@media only screen and (max-width: 575px) {
    .basket_price>p:last-child {
        text-align: end;
    }
}

@media #{$medium-up} {
    .products_list--item > .product_name {
        font-size: 1.4em;
    }
}