.products_basket {
    text-align: left;
    padding-bottom: 3rem;
}

.basket {
    &_trash>i {
        font-size: 18px;
        color: #7e7e7e;
        margin: 1rem;
        &:hover {
            color: $primary;
            cursor: pointer;
        }
    }
    &_price {
        font-size: large;
        text-align: right;
    }
    &_form {
        text-align: left;
    }
}
    