.products {
    &_basket {
    text-align: left;
    padding-bottom: 3rem;
    }
    &_list--item {
        margin: 1em 0;
        &>*{
            margin: 0;
        }
        &>.product_name {
            font-size: 1.3em;
            font-weight: 600;
        }
        &>.trash>i {
            font-size: 18px;
            color: #7e7e7e;
            &:hover {
                color: $primary;
                cursor: pointer;
            }
        }
    }
}
    