.headerContainer {
    height: 100px;
    text-align: center;
}

.logoSite {
    width: 120px;
    margin: 0 auto;
    margin-top: 6px;
}

.basketLink {
    position: absolute;
    font-size: 25px;
    color: $primary;
    top: 20px;
    right: 20px;
}