.headerContainer {
    text-align: center;
    box-shadow: 0 5px 9px rgb(229, 229, 229);
    position: fixed;
    width: 100%;
    background-color: $bg;
    top: 0;
}

.logoSite {
    width: 120px;
    margin: 0 auto;
    margin-top: 6px;
}

.basketLink {
    position: absolute;
    font-size: 25px;
    top: 20px;
    right: 20px;
    color: rgb(126, 126, 126);
    &:hover {
        color: $primary;
    }
}

.returnLink {
    position: absolute;
    font-size: 18px;
    left: 20px;
    top: 25px;
    color: rgb(126, 126, 126);
    &:hover {
        color: $primary;
    }
}

@media #{$medium-up} {
    .basketLink {
        right: 50px;
    }
    .returnLink {
        left: 50px;
    }
}