.mainContainer {
    text-align: center;
    margin-top: 100px;
    min-height: 450px;
}

.products {
    margin: 2rem auto;
    text-align: -webkit-center;
}

.product {
    &_card {
        width: 100%;
        max-width: 300px;
        border: solid 2px #CCC;
        margin: 10px 0;
        &>.product_img {
            min-height: 175px;
        }
        &--details {
            margin-bottom: 1rem;
            border: solid 2px #CCC;
        }
    }
    
    &_body {
        padding: 0 1em;
    }
    &_name {
        margin: 1rem;
    }
    &_price {
        margin: 1rem;
        color: $primary;
        font-weight: bold;
        font-size: 1.4em;
    }
    &_button {
        background-color: $secondary;
        color: #fff;
        padding: .5rem;
        border: none;
        box-shadow: 0 3px 9px rgba(0, 0, 0, .4);
        margin-bottom: 1rem;
    }
}

@media #{$small-up} {
    .products {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .product {
        width: 50%;
    }
}

@media #{$medium-up} {
    .product {
        width: 33%;
        &_card--details {
            display: flex;
            flex-direction: row;
            &>.product_img {
                max-width: 100px;
                height: 40%;
            }
            &>.product_body{
                display: flex;
                width: 100%;
                justify-content: space-between;
                text-align: left;
            }
        }
    }
}