.mainContainer {
    text-align: center;
    margin-top: 100px;
    min-height: 450px;
}

.products {
    margin: 2rem auto;
    text-align: -webkit-center;
}

.product {
    padding: 0 5px;
    &_card {
        max-width: 300px;
        display: block;
        width: 100%;
        border: solid 2px #CCC;
        margin: 10px 0;
        &>.product_img {
            min-height: 175px;
            opacity: 0.8;
            transition: all 300ms;
        }
        &:hover>.product_img {
            opacity: 1;
        }
    }
    &_body {
        padding: 0 1em;
    }
    &_name {
        margin: 1rem;
    }
    &_price {
        margin: 1rem 1rem 0 1rem;
        color: $primary;
        font-weight: bold;
        font-size: 1.4em;
    }
}

.product_details {
    padding-bottom: 2rem;
    text-align: left;
    &>.product {
        &_img {
          text-align: center;
          width: 100%;
          &>img {
              max-width: 200px;
          }
        }
        &_price {
            margin: 1rem;
        }
        &_description {
            font-size: 1.4em;
            margin: 1rem;
        }
        
    }
    
}

@media #{$small-up} {
    .products {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .product {
        width: 50%;
        &_card--details {
            display: flex;
            flex-direction: row;
            
            &>.product_body{
                display: flex;
                flex-direction: column;
                width: 100%;
                justify-content: space-between;
                text-align: left;
            }
        }
    }
}

@media #{$medium-up} {
    .product {
        width: 33%;
        
    }
}

@media #{$large-up} {
    .product {
        width: 32%;
        &_card {
            &>.product_img {
                min-height: 200px;
            }
        }
    }
}
